<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
   <link rel="stylesheet" href="/Sys/css/layui.css">
<link rel="stylesheet" href="/Sys/css/sign.css">

<link rel="stylesheet"
	href="/Sys/js/css/modules/layui-icon-extend/iconfont.css">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="/Sys/css/font.css">
<link rel="stylesheet" href="/Sys/css/xadmin.css">
<script type="text/javascript"
	src="/Sys/js/jquery-3.3.1.min.js"></script>
<script src="/Sys/lib/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="./js/xadmin.js"></script>
<script type="text/javascript" src = "/Sys/js/jquery.table2excel.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body>
   <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">演示</a>
        <a>
          <cite>导航元素</cite></a>
      </span>
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
     
     <form action="" class="layui-form" id="myForm">
   <label class="layui-form-label">选择教师：</label>
  <div class="layui-input-inline layui-form" >
    <select  lay-filter="type">
      <option value="未批改">未批改</option>
      <option value="已批改">已批改</option>
    </select>
  </div>
 

    
       <div class="layui-form-item" style="margin-top: 40px;width: 800px">
<label class="layui-form-label">内容</label>
<div class="layui-input-block">
    <textarea id="demo" style="display: none;align-content: center;">
	</textarea>
	</div>
	<div class="layui-form-item" id="loginsub" style="margin-top: 30px;width: 100px;align-content: center;">
				<button type="button" class="layui-btn layui-btn-fluid" lay-submit
					lay-filter="login">登 入</button>
			</div>
			</div>
</form>
  </body>
  <script>
  layui.use(['element', 'form', 'layer', 'jquery', 'layedit'], function () {
      var element = layui.element,
          form = layui.form,
          layer = layui.layer,
          layedit = layui.layedit,
          $ = layui.jquery;

      var index = layedit.build('demo');

  });

  index.getContent(index) //获取html

  index.getText(index) // 获取纯文本

	   

	  //你可以自定义工具栏
	  layedit.build('LAY_demo2', {
	  tool: ['face', 'link', 'unlink', '|', 'left', 'center', 'right']
	  ,height: 100
	  })
 </script>
</html>