<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>学生成绩管理系统</title>
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="stylesheet" href="/Sys/css/layui.css">
<link rel="stylesheet" href="/Sys/css/sign.css">
<link rel="stylesheet"
	href="/Sys/js/css/modules/layui-icon-extend/iconfont.css">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="/Sys/css/font.css">
<link rel="stylesheet" href="/Sys/css/xadmin.css">
<script type="text/javascript"
	src="/Sys/js/jquery-3.3.1.min.js"></script>
<script src="/Sys/lib/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="./js/xadmin.js"></script>
</head>
<body>
	<!-- 顶部开始 -->
	<div class="container">
		<div class="logo" >
			<a href="./index.html" ><img border="0" src="/Sys/images/hs.jpg" > 学生成绩管理系统</a>
		</div>
		<div class="left_open">
			<i title="展开左侧栏" class="iconfont">&#xe699;</i>
		</div>
		<ul class="layui-nav right" lay-filter="">
			<li class="layui-nav-item"><a href="javascript:;">当前用户：<span
					th:text="${session.name}"></span><img
					th:src="@{/uploads/{filename}(filename=${session.photo})}"
					th:if="${session.account!='admin'}" /> <img
					th:src="@{/Sys/images/my1.png}" th:if="${session.account=='admin'}" /></a>
				<dl class="layui-nav-child">
					<!-- 二级菜单 -->
					<dd>
						<a onclick="x_admin_show('个人信息','http://www.baidu.com')">个人信息</a>
					</dd>
					<dd>
						<a href="loginView">切换帐号</a>
					</dd>
					<dd>
						<a href="loginOut">退出</a>
					</dd>
				</dl></li>
		</ul>
	</div>
	<!-- 顶部结束 -->
	<!-- 中部开始 -->
	<!-- 左侧菜单开始 -->
	<div class="left-nav" >
		<div id="side-nav" style="width: 100%;height: 57%">
			<ul id="nav">

				<li><a href="javascript:;"> <i 
				class="iconfont">&#xe726;</i>  <cite>学生信息</cite> 
				<i class="iconfont nav_right">&#xe697;</i>
				</a>
					<ul class="sub-menu">
						<li ><a _href="stuInfo_mf"> <i class="iconfont">&#xe6a7;</i>
								<cite>学生查询</cite>
						</a></li>
						
					</ul></li>


<li><a href="javascript:;"> <i 
				class="iconfont">&#xe726;</i>  <cite>成绩单</cite> 
				<i class="iconfont nav_right">&#xe697;</i>
				</a>
					<ul class="sub-menu">
						<li ><a _href="stuScore"> <i class="iconfont">&#xe6a7;</i>
								<cite>我的成绩单</cite>
						</a></li>
						
					</ul></li>

			


			</ul>
		</div>
		<div style="background-image:url('/Sys/images/bg2.jpg'); width:100%; height:43%;bottom: 0;background-repeat: no-repeat;"></div>
	</div>
	<!-- <div class="x-slide_left"></div> -->
	<!-- 左侧菜单结束 -->
	<!-- 右侧主体开始 -->
	<div class="page-content">
		<div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
			<ul class="layui-tab-title">
				<li class="home"><i class="layui-icon">&#xe68e;</i>我的桌面</li>
			</ul>
			<div class="layui-tab-content">
				<div class="layui-tab-item layui-show">
					<iframe src='welcome' frameborder="0" scrolling="yes"
						class="x-iframe"></iframe>
				</div>
			</div>
		</div>
	</div>
	<div class="page-content-bg"></div>
	<!-- 右侧主体结束 -->
	<!-- 中部结束 -->
	<!-- 底部开始 -->
	<div class="footer">
		<div class="copyright" style="text-align:center;">Copyright WonderfulMorty</div>
	</div>
	<!-- 底部结束 -->
	<script>
		//百度统计可去掉
		var _hmt = _hmt || [];
		(function() {
			var hm = document.createElement("script");
			hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
			var s = document.getElementsByTagName("script")[0];
			s.parentNode.insertBefore(hm, s);
		})();
	</script>
</body>
</html>