<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhengyuan.liunao.mapper.AdminMapper">

    <select id="findAdmin" resultType="com.zhengyuan.liunao.entity.Admin">
      select * from admin where account=#{0} and psw=#{1}
   </select>
   
   
   

</mapper>
