<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhengyuan.liunao.mapper.TeacherMapper">
	<select id="findTeacher" resultType="com.zhengyuan.liunao.entity.Teacher">
		select * from teacher where teachno=#{0} and psw = #{1}
	</select>

	<select id="findAllTeacher" resultType="com.zhengyuan.liunao.entity.Teacher">
			select teachno,name,gra_class
		,c.coursename course,sex,phone,qq,photo
		from teacher
		inner join course c
		on c.courseid=teacher.course
		limit #{start},#{pagesize}
		
	</select>

	<insert id="addTeacher">
		insert into teacher(teachno,name,gra_class,course,psw,sex,phone,qq,photo)
		values(#{teachno},#{name},#{gra_class},#{course},#{psw},#{sex},#{phone},#{qq},#{photo})
	</insert>

	<select id="findTeacherByName" resultType="com.zhengyuan.liunao.entity.Teacher">
			select teachno,name,gra_class
		,c.coursename course,sex,phone,qq,photo
		from teacher
		inner join course c
		on c.courseid=teacher.course
		where name like CONCAT(CONCAT('%',#{0}),'%') limit #{1},#{2}
	</select>



	<select id="teacherCount" resultType="Integer">
		select count(id) from
		teacher
	</select>


	<select id="findTeacherByNum" resultType="com.zhengyuan.liunao.entity.Teacher">
			select teachno,psw,name,gra_class
		,c.coursename course,sex,phone,qq,photo
		from teacher
		inner join course c
		on c.courseid=teacher.course
		where teachno =#{0} 
	</select>
    
    
    <update id="updateTea">	
		update teacher
		 <trim prefix="set" suffixOverrides=",">
			  <if test="teachno!=null">teachno=#{teachno},</if>
			  <if test="name!=null">name=#{name},</if>
			  <if test="psw!=null">psw=#{psw},</if>
			  <if test="sex!=null">sex=#{sex},</if>
			  <if test="gra_class!=null">gra_class=#{gra_class},</if>
			  <if test="course!=null">course=#{course},</if>
			  <if test="phone!=null">phone=#{phone},</if>
			  <if test="qq!=null">qq=#{qq},</if>
			   <if test="photo!=null">photo=#{photo},</if>
		 </trim>
		WHERE teachno in (select teachno from (select teachno from teacher where teachno = #{oldNum}) t1 )
	</update>

</mapper>